<h4>Please select dates for transactions</h4>
<%= form_tag(transactions_report_search_path,method: :GET, :remote=>true) do %>
    <%= label_tag "From Date" %>
    <%= text_field_tag 'start_date' ,@from_date, "data-provide" => 'datepicker', class: "form-control", placeholder: "Enter from date" %>
    <%= label_tag "To Date" %>
    <%= text_field_tag 'end_date' ,@from_date, "data-provide" => 'datepicker', class: "form-control", placeholder: "Enter from date" %>
  </div>
  <button type='submit' id="report_filter">Submit</button>
<% end %>
<div id="report"></div>