<table class="table table-bordered table-striped">
      <tr>
        <td><%= @transaction.type_of_income_and_expense %></td>
        <td><%= @transaction.amount %></td>
        <td><%= @transaction.enter_date %></td>
        <td><%= link_to "Edit", incomes_edit_path(@transaction), class:"btn btn-default" %></td>
        <td><%= link_to "All Income Details", incomes_index_path, class:"btn btn-default" %></td>
      </tr>
</table>